# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Test cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# SQLite or other local DBs
*.sqlite3

# Backup files
*.bak
*.swp
*.tmp
